body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  //Header Style
  .header-left {
    position: fixed;
    background-color: #333;
    height: 100%;
    width: 3%;
    top: 0;
    left: 0;
    transition: width 0.5s;
    &:hover {
      width: 9%;
    }
    &__logo {
      border-bottom: 1px solid rgba(180, 180, 180, 0.315);
      img {
        width: 30px;
        display: flex;
        margin: auto;
      }
      &:hover {
        background-color: #f4ec84;
      }
    }
    &__items {
      ul {
        padding: 0;
        margin-top: 0;
        li {
          border-bottom: 1px solid rgba(180, 180, 180, 0.315);
          list-style: none;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          a {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            p {
              display: none;
              margin: 0;
              margin-top: 3px;
            }
            svg {
              margin: 0 auto;
              display: flex;
              fill: #fff;
              path {
                fill: #fff;
              }
            }
          }
          &:hover {
            background-color: #f4ec84;
            a {
              color: #000;
              font-weight: 700;
              svg {
                fill: #000;
                path {
                  fill: #000;
                }
              }
            }
          }
        }
      }
    }
  }

  .main-content {
    padding-left: 3%;
    width: 100%;
    background-image: url("../img/me.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    &__presentation {
      display: flex;
      margin: 0 50px;
      &--text {
        color: #ececec;
        width: 50%;
        padding-top: 100px;
        padding-bottom: 100px;
        h6 {
          font-size: 18px;
          font-weight: 500;
          margin: 0;
        }
        h1 {
          font-size: 60px;
          font-weight: 600;
          margin: 0;
        }
        h2 {
          font-weight: 500;
          font-size: 20px;
        }
        &__buttons {
          margin-top: 30px;
          display: flex;
          .btn-go {
            min-width: 140px;
            min-height: 50px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-size: 14px;
            &.portfolio {
              background: #f4ec84;
              color: black;
              transition: background 0.5s;
              &:hover {
                background: #333;
                color: #ececec;
              }
            }
            &.contact {
              border: solid 1px #f4ec84;
              color: #ececec;
              margin-left: 25px;
              transition: background 0.5s;
              transition: border-color 0.5s;
              &:hover {
                background: #333;
                color: #ececec;
                border-color: #333;
              }
            }
          }
        }
      }
      &--bg{
        width: 50%;
        img{
          width: 100%;
        }
      }
      .container {
        &__fullView {
          min-height: 100vh;
          display: flex;
        }
      }
    }
  }
}

//Extra classes
.showMenu {
  display: block !important;
}
